.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f9fafc;
}

.main {
  flex: 1;
  padding-top: 112px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .main {
    padding-top: 144px;
  }
}

